هو مفروض احط اشياء مهمة بس مش عارف 😂
ما علينا، المشروع فيه الواجهة الرئيسية بنعرض فيه عدة كتب وفي حال بدك تنزل كتاب لازم تككون عامل تسجيل دخول وبس هيك
والسوبر يوزر اسمه Salah
وكلمة السر 123
وبتقدر تسجل دخول جديد وتغير كلمة السر 
بس ما قدرت احط الكتب الحقيقية لانو بصير كبير الملف 

............
طبعا لازم تكون منزل (bootstrap_modal_forms) ولو مش نازل عندك استخدم الكود هاد
pip install django-bootstrap-modal-forms
............
ولازم تكون منزل (widget-tweaks)ولو مش نازل عندك استخدم الكود هاد
pip install django-widget-tweaks
...........

تحت اشراف المهندس صلاح ابو سيف 😎 وبس هيك 👍