{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <br>
    <br>
    {% if form.non_field_errors%}
        <div class="alert alert-danger" role="alerts">
        {%for error in form.non_field_errors%}
            <p {%if forloop.last%} class="mb-0" {%endif%}>{{error}}</p>
        {%endfor%}
        </div>
    {%endif%}
    <div class="container">
        <section class="tab-pane fade show active">
            <div class="breadcrumb my-4">
                <li class="breadcrumb-item "><a href="{% url 'dashboard' %}">Books</a></li>
                <li class="breadcrumb-item ">Change Password</li>
            </div>
            <br>
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    {{field.label_tag}}
                    <div class="form-outline mb-4">
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback" >
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    Change Password
                </button>
            </form>
        </section>
    </div>
{% endblock %}