{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<br>
<br>
{% if form.non_field_errors%}
    <div class="alert alert-danger" role="alerts">
    {%for error in form.non_field_errors%}
        <p {%if forloop.last%} class="mb-0" {%endif%}>{{error}}</p>
    {%endfor%}
    </div>
{%endif%}
<div class="container">
        <section class="tab-pane fade show active">
            <h1>Login</h1>
            <br>
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    {{field.label_tag}}
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="form-outline mb-4">
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback" >
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    LOG IN
                </button>
                <br>
                <div class="card-footer text-muted text-center">
                    Create New Account? <a href="{% url 'signup' %}">Sign up</a>
                </div>
            </form>
        </section>  
    </div>
{% endblock %}