{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<br>
<div class="container">
        <section class="tab-pane fade show active">
            <div class="breadcrumb my-4">
                <li class="breadcrumb-item"><a href="{% url 'change_password' %}" >Change Password</a></li>
                <li class="breadcrumb-item active">Success</li>
            </div>
            <br>
            <div class="alert alert-warning" role="alert">
                <li class="breadcrumb-item">Success! Your password has been changed ✅</li>
            </div>
            <br>
            <br>
                <a class="btn btn-info" href="{% url 'dashboard' %}" >Return To Home 🏠</a>
        </section>  
    </div>
{% endblock %}